# Virtual Environment
venv/
.venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment Variables
.env

# Python Distribution
build/
dist/
*.egg-info/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db
desktop.ini

trajectory.py
tracker.py